html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    text-align: center;
}

header h1{
    font-size: 30px;
}

header nav{
    display: flex;
    align-items: center;
} 

header nav ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
}

.container-principal{
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    gap: 40px;
}

.texto{
    width: 45%;
    text-align: left;
}

.texto h2{
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 0;
}

.texto p{
    font-size: 18px;
    margin-bottom: 20px;

}

.texto button{
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #555;
}

.container-principal img{
    width: 35%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

.container-principal img:hover{
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.destinos{
    padding: 40px;
}

.destinos h2{
    font-size: 32px;
    margin-bottom: 30px;
}

.cards{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card{
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    text-align: center;;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.card h3{
    font-size: 20px;
    margin: 10px 0;
}

.card p{
    font-size: 14px;
    color: #666;
}

.card:hover{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}


footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

footer h3{
    padding: 0px 20px;
    font-size: 16px;
    text-align: center;
}

footer p{
    font-size: 14px;
    padding: 0px 20px;
    text-align: center;
}
